extends templet

block append styles
    script(src='/javascripts/summernote.min.js')
    script(src='/lang/summernote-ko-KR.js')
    link(href='/stylesheets/summernote.css', rel='stylesheet')

block prepend menus
    +link(auth ? '/logout' : '/login', auth ? '로그아웃' : '로그인')
    +link(auth ? '/user/' + user.id : '/register', auth ? '마이페이지' : '회원가입')

block appegnd contents
    .container
        form#board_write(method='post', action='', onsubmit='return postForm()', target='_blank')
            .card
                .card-header
                    h5.mb-1
                        input.form-control(type='text', name='title', placeholder='제목', value=result.title)
                .card-body
                    .form-group.summernote
                        textarea#summernote(name='contents')= result.contents
                        script(src='/javascripts/board_write.js')
            br
            input.btn.btn-outline-primary(type='button', value='목록', onclick="location.href='/board'")
            button.btn.btn-outline-dark.pull-right(type='submit')
                i.fa.fa-floppy-o(aria-hidden='true')  저장
