extends templet

mixin project(id, title)
    .col-md-4
        .card.project(style='width: 20rem;')
            .card-body
                h4.card-title= title
                a.btn.btn-primary.pull-right.btn-sm(href="/project/" + id, role="button") 들어가기 »

block prepend menus
    +link(auth ? '/logout' : '/login', auth ? '로그아웃' : '로그인')
    +link(auth ? '/user/' + user.id : '/register', auth ? '마이페이지' : '회원가입')

block append contents
    .banner
    .container
        .card
            h5.card-header 공개된 프로젝트
            .card-body
                .row.justify-content-center
                    if all_projects
                        each project in all_projects
                            +project(project.id, project.title)
        hr
        footer
            p 모두의 공강 © Company 2017
