extends templet

mixin project(id, title)
    .col-md-4
        .card(style='width: 20rem;')
            .card-body
                h4.card-title= title
                a.btn.btn-primary.pull-right.btn-sm(href="/project/" + id, role="button") 들어가기 »

block append styles
    link(rel='stylesheet', href='stylesheets/my_project.css')

block prepend menus
    +link(auth ? '/logout' : '/login', auth ? '로그아웃' : '로그인')
    +link(auth ? '/user/' + user.id : '/register', auth ? '마이페이지' : '회원가입')

block append contents
    .container
        .card
            h4.card-header 진행중인 프로젝트
                a.btn.btn-outline-primary.btn-sm.pull-right(href='/project/add', role='button', aria-pressed='true')
                    i.fa.fa-plus(aria-hidden='true')  프로젝트 추가
            .card-body
                .row.justify-content-center
                    if my_projects
                        each project in my_projects
                            +project(project.id, project.title)
        br
        .card
            h4.card-header 공개된 프로젝트
            .card-body
                .row.justify-content-center
                    if all_projects
                        each project in all_projects
                            +project(project.id, project.title)
        hr
        footer
            p 모두의 공강 © Company 2017
