mixin link(address, text)
    li.nav-item
        a.nav-link(href=address)= text

nav.navbar.navbar-mogong.navbar-expand-md.fixed-top.bg-mogong
    a.navbar-brand(href="/")
        img.logo(src='/images/logo_08.png')
    button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarCollapse", aria-controls="navbarCollapse", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon
    #navbarCollapse.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
            block menus
                +link('/board', '게시판')
                +link('/project', '프로젝트')
        //form.form-inline.mt-2.mt-md-0
        //    input.form-control.mr-sm-2(type="text", placeholder="Search", aria-label="Search")
        //    button.btn.btn-outline-success.my-2.my-sm-0(type="submit") Search