body
    script.
        var regex = /[?&]([^=#]+)=([^&#]*)/g, url = window.location.href, params = {}, match;
        while (match = regex.exec(url)) {
            params[match[1]] = match[2];
        }

        if(params['repetition'] >= 1) {
            window.location = '/';
        } else {
            window.open('/popup/login', '_blank');
            window.location = document.referrer + '?repetition=1';
        }
