extends templet

block prepend menus
    +link(auth ? '/logout' : '/login', auth ? '로그아웃' : '로그인')
    +link(auth ? '/user/' + user.id : '/register', auth ? '마이페이지' : '회원가입')

block append styles
    script(src='/javascripts/timetable.min.js')
    link(href='/stylesheets/timetablejs.css', rel='stylesheet')
    link(href='/stylesheets/demo.css', rel='stylesheet')

block append contents
    .container
        .timetable
        script= time_table
        hr
        footer
            p 모두의 공강 © Company 2017
